page-home {
.mainLogo{
    height: 70px;
    width: auto;
    padding-left: 20% ;
}
.whyCols{
    border-right: 2px solid #92a3aa;
}
.colsFooter{
    border-right: 2px solid map-get($colors,darkphone);
}
.colsf2{
    border-right: 2px solid map-get($colors,whiter);
    padding-left: 10%;
}
.head{
    text-align: center;
    font-size: 20px;
}
.cardCont{
    font-size: 17px;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%; 
    padding-top: 1%;
}
.cardIconCont{
    font-size: 16px;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%; 
    padding-top: 1%;
    
}
.imgText{
    color: map-get($colors,primary);
    font-size: 36px;
    position: absolute;
    left: 20%;
    top: 80%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.whyIcons{
    height: 75px;
    width: auto;
    padding-left: 10%;
}

.ftrHead{
    font-size: 18px;
    font-weight: bold;
    text-align: left;

}
.ftrText{
    font-size: 16px;
    text-align: center;
    text-align: left;
}

.microBg{
    background:linear-gradient(rgba(187,105,181, 0.85), rgba(187,105,181, 0.85)),
    rgba(187,105,181,0.85) url("/assets/imgs/micro.png")  no-repeat center;
    background-size: cover;
}
.copy{
    text-align: center;
    font-size: 12px;
}
.bb{
    height: 600px;
}
}